.header-p1 {
  text-align: center;
  font-size: 4rem;
}
.note {
  padding-top: 1rem;
  width: 20%;
  height: auto;
}
.qiita {
  width: 10%;
  height: auto;
}

.top {
  height: 700rem;
  background-image: url(../images/akito001.jpg);
  backdrop-filter: blur(12px);
}
.akito {
  padding-top: 12rem;
  margin-left: 40rem;
  font-size: 5rem;
  text-align: center;
  color: white;
}
.yamauchi {
  margin-left: 40rem;
  font-size: 3rem;
  text-align: center;
  color: white;
}
