.header-p1 {
  font-family: "IM Fell DW Pica", serif;
  font-size: 4rem;
  color: white;
}

.note {
  padding-top: 1rem;
  width: 20%;
  height: auto;
}
.qiita {
  width: 10%;
  height: auto;
  margin-top: 1rem;
}
h1 {
  color: white;
  font-family: "IM Fell DW Pica", serif;
}
h2 {
  color: white;
  text-align: center;
  font-family: "IM Fell DW Pica", serif;
}
p {
  font-family: "IM Fell DW Pica", serif;
  font-size: 25px;
  color: white;
}
.top {
  display: inline-block;
  height: 65rem;
  max-width: 100%;
  background-image: url("https://github.com/Akito-Yamauchi-0413/my-portfolio/blob/master/images/akito003.JPG?raw=true");

  object-fit: contain;
}
.akito {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding-top: 30rem;
  margin-left: 40rem;
  font-size: 5rem;
  text-align: center;
  color: white;
}
.yamauchi {
  font-family: "IM Fell DW Pica", serif;
  margin-left: 40rem;
  font-size: 3rem;
  text-align: center;
  color: white;
}
/*クイズ*/
#quiz-image {
  height: 300px;
  width: 300px;
  object-fit: contain;
}
.row {
  flex-direction: row;
}

.hidden {
  display: none;
}

body {
  max-width: 100%;
  background: #ec6a38;
  -webkit-animation: colour 10s linear infinite;
  -moz-animation: colour 10s linear infinite;
}
@-webkit-keyframes colour {
  0% {
    background: #38d7ec;
  }

  40% {
    background: #9eec38;
  }

  80% {
    background: #ec9138;
  }

  100% {
    background: #38d7ec;
  }
}

@-moz-keyframes colour {
  0% {
    background: #38d7ec;
  }

  40% {
    background: #9eec38;
  }

  80% {
    background: #ec9138;
  }

  100% {
    background: #38d7ec;
  }
}
